* {
  list-style: none;
}

body,
html {
  background: linear-gradient(
    -45deg,
    rgba(4, 4, 4, 1) 0%,
    rgba(13, 12, 13, 1) 37%,
    rgba(32, 31, 31, 1) 60%,
    rgba(40, 38, 39, 0.9682247899159664) 100%
  );
  background: black;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  color: #fff;
  font-size: 16px;
  font-family: 'Comfortaa', cursive;
  letter-spacing: 0.1rem;
}

#root,
.App,
main {
  height: 100%;
}
ul,
li {
  margin: 0;
  padding: 0;
}

section {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 100%;
}

.location-input {
  text-align: center;
  padding: 2rem 1.25rem 0.3125rem 1.25rem;
}

input {
  padding: 10px;
  background: #484747;
  border-radius: 5px;
  color: white;
  border: none;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px #e1e0e0;
  }
}

button {
  padding: 10px;
  background: inherit;
  border: 1px solid #0ff;
  color: white;
  border-radius: 3px;
  margin-left: 15px;
  box-shadow: inset 1px 1px 8px 0px #0ff, 5px 5px 3px 5px rgb(0 255 255 / 0%);
  letter-spacing: 0.1rem;

  &:hover {
    box-shadow: 2px -2px 34px 7px #0ff;
    background: #0ff;
    color: black;
  }

  &:focus {
    border: 1px solid white;
  }
}

.error {
  color: #e25a5f;
  margin-bottom: 8px;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@media only screen and (max-width: 769px) {
  body,
  html {
    background: #252324;
    background: linear-gradient(
      -90deg,
      rgba(27, 27, 27, 1) 0%,
      rgba(64, 63, 64, 1) 37%,
      rgba(73, 73, 73, 1) 60%,
      rgba(91, 91, 91, 0.9911111111111112) 100%
    );
  }
  section {
    display: unset;
  }

  input {
    background: #0c0c0c;
    display: flex;
    width: 80%;
    padding: 15px;
    letter-spacing: 0.1rem;
    margin: 0 auto;
  }
  button {
    background: #373636;
    margin-top: 15px;
    width: 60%;
  }

  .list-grid {
    margin: 0 auto;
  }
}

.helper-text {
  font-size: 0.75rem;
  text-align: center;
  letter-spacing: 0;
  margin: 0;
}

.weather-card-container {
  margin-top: 1.25rem;
}

// TODO: add animations
